# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# SQLite database file
db.sqlite3

# PyCharm files
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/

# macOS files
.DS_Store
